<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="GoogleAPIKey" value="AIzaSyBqe4VYJPO86ui1aOtmpxapqwI3ET0ZaMY" />
    <add key="GoogleAPILink" value="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={0},{1}&amp;radius={2}&amp;type={3}&amp;key={4}" />
    <add key="GoogleAPICategories" value="bar,night_club" />
    <add key ="FourSquareAPILink" value="https://api.foursquare.com/v2/venues/search?client_id={0}&amp;client_secret={1}&amp;ll={2},{3}&amp;categoryId={4}&amp;radius={5}&amp;intent=browse&amp;v=20170901&amp;m=foursquare" />
    <add key="FourSquareClientId" value="XN5J1TJ5RREJR1RVFBT2NLEN5HJXQU1VZYL2MC21MJSTCNRC" />
    <add key="FourSquareClientSecret" value="YWHT33SLUDBU4LD4YDHHE3SKNUFCGOIIZPXRYLTE1QLREF3M" />
    <add key="FourSquareCategoryIDs" value="4bf58dd8d48988d116941735,50327c8591d4c4b30a586d5d" />
    <add key ="FacebookAPILink" value="https://graph.facebook.com/v2.10/search?access_token={0}&amp;type=place&amp;center={1},{2}&amp;distance={3}&amp;fields={4}&amp;categories=['{5}']" />
    <add key="FacebookAccessToken" value="EAABpaWOJYT8BALCrZBXNm6ZAGYZBPiJ7qxpEnMYWK0XZB1I7AbHQ5tfmZBnqhHKg2kAtUk9CV0ianlZBnPwWxpgtJ5mIZB9Jb6u17dHvMDRA3H8yfqX5ON1LRpxo9ZAnR5Xv9lAepH2Ohx338ZBjiO47IqpXlV8lvkY1o9UzFVaDQWQZDZD" />
    <add key="FacebookRequestedFields" value="location,name,restaurant_specialties,category_list" />
    <add key="FacebookCategoryID" value="FOOD_BEVERAGE" />
    <add key="FacebookAllowedCategoryStrings" value="Concert Venue,Restaurant,Bar,Club,Pub,Beer" />
    <add key="FacebookBannedCategoryStrings" value="Coffee,Wine" />
    <add key="TripAdvisorAccessKey" value="722778370a97413484c29f89476a8e18" />
    <add key="TripAdvisorMapperLink" value="http://api.tripadvisor.com/api/partner/2.0/location_mapper/{0},{1}?key={2}-mapper&amp;category={3}" />
    <add key="TripAdvisorCategories" value="restaurants,attractions" />
    <add key="TripAdvisorApplicableGroups" value="Nightlife,Food &amp; Drink" />
    <add key="TripAdvisorApplicableGroupCategories" value="Bars &amp; Clubs,Bar,Bar/ Clubs,Breweries,Beer tastings &amp; tours" />
    <add key="TripAdvisorLocationAPILink" value="http://api.tripadvisor.com/api/partner/2.0/location/{0}?key={1}" />
    <add key="filePath" value="barsData.json" />
    <add key="barNameSimilarThreshold" value="0.52" />
    <add key="barNameLikelySimilarThreshold" value="0.15" />
    <add key="barNearnessInMetersThreshold" value="3.0" />
    <add key="maxSameBarDistanceErrorThresholdMeters" value="40" />
    <add key="defaultLatitude" value="54.684815" />
    <add key="defaultLongitude" value="25.288464" />
    <add key="defaultRadius" value="150" />
    <add key="map_startingZoomLevel" value ="13.000"/>
    <add key="map_currentLocationZoomLevel" value ="16.000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>