<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="GoogleAPIKey" value ="AIzaSyBqe4VYJPO86ui1aOtmpxapqwI3ET0ZaMY"/>
    <add key ="GoogleAPILink" value ="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={0},{1}&amp;radius={2}&amp;type=bar&amp;key="/>
    <add key ="FourSqaureClientId" value ="XN5J1TJ5RREJR1RVFBT2NLEN5HJXQU1VZYL2MC21MJSTCNRC"/>
    <add key ="FourSquareClientSecret" value ="YWHT33SLUDBU4LD4YDHHE3SKNUFCGOIIZPXRYLTE1QLREF3M"/>
    <add key ="FourSqaureCategoryIdBar" value ="4bf58dd8d48988d116941735"/>
    <add key ="filePath" value ="barsData.json"/>
  </appSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>